main-workflow.json
{
  "name": "project-1-data-validation-sync",
  "nodes": [
    {
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "onError": "continueRegularOutput",
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-intake",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "code-validate",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const body = $input.first().json.body ?? $input.first().json;\n\nconst email = (body.email || '').trim().toLowerCase();\nconst name = (body.name || '').trim();\nconst phone = body.phone ? String(body.phone).trim() : null;\nconst source = body.source ? String(body.source).trim() : 'web';\n\nif (!email) {\n  throw new Error('VALIDATION_ERROR: email is required');\n}\n\nif (!name) {\n  throw new Error('VALIDATION_ERROR: name is required');\n}\n\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(email)) {\n  throw new Error('VALIDATION_ERROR: invalid email format');\n}\n\nreturn [\n  {\n    json: {\n      email,\n      name,\n      phone,\n      source\n    }\n  }\n];"
      }
    },
    {
      "id": "http-check-dup",
      "name": "Check Duplicate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "https://YOUR_PROJECT.supabase.co/rest/v1/customers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "YOUR_SUPABASE_KEY" },
            { "name": "Authorization", "value": "Bearer YOUR_SUPABASE_KEY" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "email", "value": "=eq.={{ $json.email }}" },
            { "name": "select", "value": "*" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "code-flag",
      "name": "Prepare Duplicate Flag",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const itemsArray = $input.all();\nconst validated = $('Validate Input').first().json;\n\nreturn [\n  {\n    json: {\n      ...validated,\n      isDuplicate: itemsArray.length > 0\n    }\n  }\n];"
      }
    },
    {
      "id": "if-duplicate",
      "name": "Is Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1200, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.isDuplicate }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "http-log-dup",
      "name": "Insert Duplicate Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 160],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_PROJECT.supabase.co/rest/v1/automation_logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "YOUR_SUPABASE_KEY" },
            { "name": "Authorization", "value": "Bearer YOUR_SUPABASE_KEY" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({ workflow_name: 'project-1-data-validation-sync', event_type: 'duplicate_check', status: 'duplicate', message: 'Customer already exists', payload: { email: $json.email, name: $json.name } }) }}",
        "options": {}
      }
    },
    {
      "id": "respond-409",
      "name": "Respond 409 Duplicate",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1680, 160],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, message: 'Duplicate customer', email: $('Prepare Duplicate Flag').first().json.email }) }}",
        "options": { "responseCode": 409 }
      }
    },
    {
      "id": "http-insert-customer",
      "name": "Insert Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 440],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_PROJECT.supabase.co/rest/v1/customers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "YOUR_SUPABASE_KEY" },
            { "name": "Authorization", "value": "Bearer YOUR_SUPABASE_KEY" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({ email: $json.email, name: $json.name, phone: $json.phone, source: $json.source }) }}",
        "options": {}
      }
    },
    {
      "id": "http-log-success",
      "name": "Insert Success Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 440],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_PROJECT.supabase.co/rest/v1/automation_logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "YOUR_SUPABASE_KEY" },
            { "name": "Authorization", "value": "Bearer YOUR_SUPABASE_KEY" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({ workflow_name: 'project-1-data-validation-sync', event_type: 'customer_insert', status: 'success', message: 'Customer inserted successfully', payload: { email: $('Validate Input').first().json.email, name: $('Validate Input').first().json.name } }) }}",
        "options": {}
      }
    },
    {
      "id": "respond-201",
      "name": "Respond 201 Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1920, 440],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Customer created successfully' }) }}",
        "options": { "responseCode": 201 }
      }
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Validate Input", "type": "main", "index": 0 }]] },
    "Validate Input": { "main": [[{ "node": "Check Duplicate", "type": "main", "index": 0 }]] },
    "Check Duplicate": { "main": [[{ "node": "Prepare Duplicate Flag", "type": "main", "index": 0 }]] },
    "Prepare Duplicate Flag": { "main": [[{ "node": "Is Duplicate?", "type": "main", "index": 0 }]] },
    "Is Duplicate?": {
      "main": [
        [{ "node": "Insert Duplicate Log", "type": "main", "index": 0 }],
        [{ "node": "Insert Customer", "type": "main", "index": 0 }]
      ]
    },
    "Insert Duplicate Log": { "main": [[{ "node": "Respond 409 Duplicate", "type": "main", "index": 0 }]] },
    "Insert Customer": { "main": [[{ "node": "Insert Success Log", "type": "main", "index": 0 }]] },
    "Insert Success Log": { "main": [[{ "node": "Respond 201 Success", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true
  }
}
